<style>
  ol {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
  }

  button {
    background-color: #df98c1;
    color: white;
    border-color: white;
    border-radius: 15px;
    height: 30px;
    width: 80px;
    margin-right: 15px;
  }
</style>

<ol>
  @for (contacto of contactos(); track contacto.id; let idx = $index){
  <li>

    <span> {{contacto.name}}</span>
    <!-- <strong [ngClass]="phoneClasses()"  > ({{contacto.phone}})</strong> -->

    <ul>
      <li>
        Numero telefonico: {{ contacto.phone }}
      </li>
      <li>
        Correo electronico: {{ contacto.email }}
      </li>

    </ul>
    <br>
    <button class="btn btn-sm" [routerLink]="['/modificar-contacto', contacto.id]">Modificar</button>
    <button class="btn btn-sm">Eliminar</button>


  </li>
  <br>

  }
</ol>
