<h3>{{listName()}}</h3>
    <ul>
      @for (contacto of contactos(); track contacto.id; let idx = $index){
      @if(contacto.power>500){
      <li>
        <span> {{ idx +1 }} - {{contacto.name}}</span>
        <!-- <strong [ngClass]="powerClasses()"  > ({{contacto.power}})</strong> -->
        <strong [class.text-danger]="contacto.power >= 9000" [class.text-info]="contacto.power < 9000">
          ({{ contacto.power }})</strong>
      </li>
      }@else {
      <li><strong>Aquí no hay nadie</strong></li>}
      }
    </ul>
