<style>
  ol{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
  }
</style>

<ol>
  @for (contacto of contactos(); track contacto.id; let idx = $index){
  <li>

    <span> {{contacto.name}}</span>
    <!-- <strong [ngClass]="phoneClasses()"  > ({{contacto.phone}})</strong> -->

    <ul>
      <li>
        Numero telefonico:  {{ contacto.phone }}
      </li>
       <li>
        Correo electronico:  {{ contacto.email }}
      </li>

    </ul>
  </li>
  <br>
  
  }
</ol>
