<style>
  h1{
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
  }

  h3, div{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;

  }
  button {
    background-color:#89CFF0;
    color: white;
    border-color: white;
    border-radius: 15px;
    height: 30px;
    width: 100px;
  }
</style>

<h3>Datos actuales</h3>
<div>
  <ol>
    <!--  <li> {{ datosRecibidos().name }} </li>
     <ul>
      <li> {{datosRecibidos().phone}} </li>
      <li> {{datosRecibidos().email}} </li>
     </ul> -->
  </ol>
</div>

<h3>Completa los siguientes datos</h3>

<div>
  <!-- <input type="text" class="form-control" placeholder="Nombre" [value]="name()" (input)="name.set(txtName.value)"
    #txtName>

  <input type="number" class="form-control" placeholder="Teléfono" [value]="phone()"
    (input)="phone.set(+txtPhone.value)" #txtPhone>

  <input type="email" class="form-control" placeholder="Email" [value]="email()" (input)="email.set(txtEmail.value)"
    #txtEmail>
 -->
  <button (click)="addContacto()">
    Modificar</button>
</div>
