<style>
  nav{
    display: flex;
    justify-content: space-around;
    background-color: #df98c1;
    color: white;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  nav a{
    color:white;
    text-decoration: none;
  }

  nav a.active{
    color:white;
    text-decoration:underline;
  }
</style>

<nav>

<a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Listado</a>
<a [routerLink]="['/nuevo-contacto']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">Nuevo contacto</a>
<a [routerLink]="['/modificar-contacto']" [routerLinkActive]="'active'">Modificar contacto</a>


</nav>
