<style>
  h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
  }

  input {
    width: 98.8%;
    margin-bottom: 12px;
    padding: 10px;
    font-size: 16px;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 15px;
    border-style: double;
    /* margin:0 auto; */
  }

  button {
    width: 100%;
    margin-bottom: 12px;
    padding: 10px;
    font-size: 16px;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #df98c1;
    color: white;
    border-color: white;
    border-radius: 15px;
    margin:0 auto;
  }
</style>

<h3>Completa los siguientes datos</h3>

<div>
  <input type="text" class="form-control" placeholder="Nombre" [value]="name()" (input)="name.set(txtName.value)"
    #txtName>

  <input type="number" class="form-control" placeholder="Teléfono" [value]="phone()"
    (input)="phone.set(+txtPhone.value)" #txtPhone>

  <input type="email" class="form-control" placeholder="Email" [value]="email()" (input)="email.set(txtEmail.value)"
    #txtEmail>

  <button (click)="addContacto()">
    Agregar
  </button>
</div>
